<div class="site-footer site-grey2-background site-section">
    <header style="position:relative; top:0; left:0; padding:25px;" class="site-font">
        <h3 style="border-bottom:2px solid; width:190px;"><span class="site-grey2-foreground">Vulcan</span> <span class="site-green-foreground">Gaming</span></h3>
    </header>
    <div class="site-footer-nav" style="color:white;">
        <nav class="nav" style="padding-left:25px;">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/article">Articles</a>
            <a class="nav-link" href="/game">Games</a>
            <a class="nav-link" href="/team">Teams</a>
            <a class="nav-link" href="/gamebattles">Game Battles</a>
            <a class="nav-link" href="/forums">Forums</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
    </div>
</div>